[gerrit]
	basePath = git
	canonicalWebUrl = http://localhost:8080/
[database]
	type = h2
	database = db/ReviewDB
[noteDb "changes"]
	disableReviewDb = true
	primaryStorage = note db
	read = true
	sequence = true
	write = true
[gitweb]
	type = disabled
[index]
	type = LUCENE
[auth]
	type = OPENID
[receive]
	enableSignedPush = false
[sendemail]
	smtpServer = localhost
[sshd]
	listenAddress = localhost:29418
[httpd]
	listenUrl = http://localhost:8080/
[cache]
	directory = cache

# Container section below is not used by provided init.d script
# Configuation of runtime parameters can be found at /etc/default/gerrit
# Entries are here to avoid overwriting them by "gerrit.war init" command
[container]
	user = dummy
	javaHome = dummy
	javaOptions = "-Dflogger.backend_factory=com.google.common.flogger.backend.log4j.Log4jBackendFactory#getInstance"
	javaOptions = "-Dflogger.logging_context=com.google.gerrit.server.logging.LoggingContext#getInstance"

# vim: syntax=ini:
