[gerrit]
	basePath = git
	canonicalWebUrl = http://localhost:8080/
[database]
	type = h2
	database = db/ReviewDB
[gitweb]
	type = disabled
[index]
	type = LUCENE
[auth]
	type = OPENID
[receive]
	enableSignedPush = false
[sendemail]
	smtpServer = localhost
[sshd]
	listenAddress = localhost:29418
[httpd]
	listenUrl = http://localhost:8080/
[cache]
	directory = cache

# Below container section is not used by provided init.d script
# Entries are here to avoid overwriting them by "gerrit.war init"
[container]
	user = dummy
	javaHome = dummy

# vim: syntax=ini:
