Source: gerrit
Section: devel
Priority: extra
Maintainer: Radosław Józwik <timeshift@spelunca.net>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.7
Homepage: http://gerritcodereview.com
Vcs-Git: https://gerrit.googlesource.com/gerrit
Vcs-Browser: https://gerrit.googlesource.com/gerrit

Package: gerrit
Architecture: all
Depends: adduser, openssh-client,
 openjdk-8-jre-headless | java8-runtime-headless,
 ${shlibs:Depends}, ${misc:Depends}
Suggests: apache2, postgresql
Description: Web-based code review tool for Git based projects
 Gerrit is a web-based software for code review, built for and on top of
 Git version control system. Gerrit list of features include side-by-side
 code diff with syntax highlighting, inline comments system, email
 notifications, customizable access control and a plugin system with
 rich selection of existing plugins.
